@charset "uft-8";


:root {
    --col-main-blue: #01a6e8;
    --col-main-blue-hover: #0993ca;
    --col-main-dark-blue: #054c68;
    --col-white: #edeaea;
    --col-black: #111111;
    --col-dark: #1B2430;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.center {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--col-dark);
}

.mainBox {
    display: grid;
    justify-content: center;
    align-items: center;
}

/*-------------Text/Universal code-----------------  */

.textStyle {
    color: var(--col-white);
}

h1 {
    text-align: center;
    margin: 25px 0px 25px 0px;
}

/*------------------------END----------------------- */

/*--------------Selecting/Making Shapes------------- */

.selectionsBox {
    display: flex;
    justify-content: center;
}

select {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 10px 15px 10px;
    background-color: var(--col-main-dark-blue);
    border: 3px solid color(srgb (255, 0, 0));
}

button {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 10px 15px 10px;
}

.creationButton {
    background-color: var(--col-main-blue);
}

.resetButton {
    background-color: var(--col-main-blue);
}

/*--------------End of Selection area--------------- */

/*--------------Factory Floor----------------------- */

.factoryFloor{
    height: 550px;
    width: 800px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--col-black);
    overflow: auto;
    position: relative;
}

/*--------------End of Factory Floor----------------- */

/*---------------------The Shapes---------------------*/


.shape {
    margin: 5px; 
    height: 100px; 
    width: 100px;
  }
  
  .square {
    border-radius: 5px;
    /* background-color: transparent;
    margin: 5px 5px 5px 5px; */
  }
  
  .circle {
    border-radius: 50%;
    /* margin: 5px 5px 5px 5px;
    background-color: transparent; */
  }
  

.blue {
    background-color: #09f;
}

.green {
    background-color: #9f0;
}

.orange {
    background-color: #f90;
}

.pink {
    background-color: #f09;
}

.purple {
    background-color: #90f;
}