@charset "uft-8";


:root {
    --col-main-blue: #01a6e8;
    --col-main-blue-hover: #0993ca;
    --col-main-dark-blue: #054c68;
    --col-white: #edeaea;
    --col-black: #111111;
    --col-dark: #1B2430;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.center {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--col-dark);
}

.mainBox {
    display: grid;
    justify-content: center;
    align-items: center;
}

/*-------------Text/Universal code-----------------  */

.textStyle {
    color: var(--col-white);
    text-align: center;
}

h1 {
    margin: 55px 0px 25px 0px;
}

h3 {
    margin-top: 25px;
}

/*------------------------END----------------------- */

/*--------------Selecting/Making Shapes------------- */

.selectionsBox {
    display: flex;
    justify-content: center;
}

select {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 10px 15px 10px;
    color: var(--col-white);
    background-color: var(--col-main-dark-blue);
    border: 3px solid color(srgb (255, 0, 0));
}

button {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 10px 15px 10px;
}

.creationButton {
    background-color: #148aff;
    transition: all 0.3s ease-in-out;
}

.resetButton {
    background-color: #d80000;
    transition: all 0.3s ease-in-out;
}

.creationButton:hover {
    background-color: #0080ff;
    transition: all 0.3s ease-in-out;
}

.resetButton:hover {
    background-color: #c40000;
    transition: all 0.3s ease-in-out;
}

/*--------------End of Selection area--------------- */

/*--------------Factory Floor----------------------- */

.factoryFloor{
    height: 550px;
    width: 770px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #00000040;
    overflow: auto;
    position: relative;
}

/*--------------End of Factory Floor----------------- */

/*---------------------The Shapes---------------------*/


.shape {
    margin: 5px; 
    height: 100px; 
    width: 100px;
}
  
.square {
    border-radius: 5px;
}
  
.circle {
    border-radius: 50%;
}
  

.blue {
    background-color: #09f;
}

.green {
    background-color: #9f0;
}

.orange {
    background-color: #f90;
}

.pink {
    background-color: #f09;
}

.purple {
    background-color: #90f;
}